<div id='actions'>
  <h2><%= t('.details')%></h2>
  <p>
    <strong><%= t('.age') %>:</strong> <%= time_ago_in_words(@question.created_at) %>
  </p>
  <h2><%= t('.actions') %></h2>
  <ul>
    <li>
      <%= link_to t('.back_to_all_questions'),
                  refinery.qa_admin_questions_path,
                  :class => "back_icon" %>
    </li>
    <li>
      <%= link_to t('refinery.qa.admin.questions.delete'),
                  refinery.qa_admin_question_path(@question),
                  :class => 'delete_icon no-tooltip confirm-delete',
                  :title => t('refinery.qa.admin.questions.delete'),
                  :data => {
                    :confirm => t('refinery.admin.delete.message', :title => @question.title)
                  },
                  :method => :delete %>
    </li>
  </ul>
</div>
<div id='records'>
  <h2><%= t('.question') %></h2>
  <%= form_for [refinery, :qa, :admin, @question, @answer] do |f| %>
  <table id='question'>
    <tr>
      <td><strong>真实姓名</strong></td>
      <td><%= @question.name %></td>
    </tr>
    <tr>
      <td><strong>性别</strong></td>
      <td><%= @question.gender == 'male' ? '男' : '女' %></td>
    </tr>
    <tr>
      <td><strong>联系电话</strong></td>
      <td><%= @question.phone %></td>
    </tr>
    <tr>
      <td><strong>职业</strong></td>
      <td><%= @question.job %></td>
    </tr>
    <tr>
      <td><strong>电子邮箱</strong></td>
      <td><%= @question.email %></td>
    </tr>
    <tr>
      <td><strong>联系地址</strong></td>
      <td><%= @question.address %></td>
    </tr>
    <tr>
      <td><strong>时间</strong></td>
      <td><%= l(Date.parse(@question.created_at.to_s), :format => :long) %></td>
    </tr>
    <tr>
      <td><strong>咨询标题</strong></td>
      <td><%= @question.title %></td>
    </tr>
    <tr>
      <td valign='top'><strong>咨询内容</strong></td>
      <td><%= simple_format strip_tags(@question.body), :style => 'margin-top: 0' %></td>
    </tr>
    <tr>
      <td><strong>公开意愿</strong></td>
      <td><%= @question.public_show ? '愿意' : '不愿意' %></td>
    </tr>
    <tr>
      <td valign='top'><strong>回答</strong></td>
      <td><%= f.text_area :body, :rows => 8, :style => "width: 400px", :required => 'required' %></td>
    </tr>
    <tr>
      <td><strong>是否显示</strong></td>
      <td>
        <%= f.radio_button :active, true %>
        <%= f.label :active_true, '是', style: 'display:inline' %>
        <%= f.radio_button :active, false %>
        <%= f.label :active_false, '不', style: 'display:inline' %>
      </td>
    </div>
    </tr>
    <tr>
      <td colspan='2'>
        <%= f.submit '回复' %>
      </td>
    </tr>
  </table>
  <% end %>
</div>
