<%= form_for [refinery, :qa, question] do |f| %>
  <%= render :partial => "/refinery/admin/error_messages",
             :locals => {
               :object => question,
               :include_object_name => true
             } %>
  <div class="fields">
    <%= f.text_field :name, :class => 'text', :required => 'required', :placeholder => '输入你的姓名' %>
    <%= f.text_field :title, :class => 'text', :required => 'required', :placeholder => '输入你的问题' %>
    <%= f.text_area :body, :rows => 8, :required => 'required', :placeholder => '请描述你的问题' %>
  </div>
  <div class="actions">
    <%= f.button  '重置', type: 'button' %>
    <%= f.submit '提交' %>
  </div>
<% end %>
